*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(225, 206, 211);
}

/* ### NAV ### */
.nav1{
    background-color: rgb(225, 206, 211) !important;
    height: 80px;
}
nav img{
    height: 57px;
    margin-right: 60px;
}

.me-2{
    background-color: #eee6e8 !important;
    border: solid black 1px;
}
.btn{
    border:solid 1px black;
    background-color: #eee6e8;
}

.carrito{
    height: 25px;
    padding-left: 10px;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

/*  ### ICONOS LINKS FACE INSTA Y CARRUSEL DE NOTICIAS ### */
.barra-de-noticias{
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #d2b7f4;
    height: 40px;
}

.logo-face{
    width: 40px;
    height: 40px;
}

.logo-insta{
    width: 31px;
    height: 31px;
}

.carousel-noticias{
    text-align: center;
    padding-bottom: 25px;
    padding-right: 90px;
}

/* ### CARRUSEL DE IMAGENES ### */

.contenedor-carousel-img{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.carousel-img img{
    height: 450px;
}
.carousel-img{
    height: auto;
    width: 80vw;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.servicios{
    text-align: center;
}
.servicios img{
    width: 80vw;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ### CARRUSEL VENTAS ### */

main{
    margin-top: 50px;
    text-align: center;
}

/* .carousel-ventas{
    width: 1500;
    height: 460;
} */

.carousel-ventas img{
    width: 280px !important;
    height: 280px !important;
    border-radius: 7px;
    background-color: white;
}

.ventas-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-img-venta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-img-venta button{
    font-family: 'Bakbak One', sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    border-style: hidden;
}

.catalogo{
    font-family: 'Bakbak One', sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    border-style: hidden;
    margin-top: 30px;
}

/* ### TEXTO ADICIONAL ### */

.azul{
    margin: 40px 0 30px;
    font-family: 'Rammetto One', sans-serif;
    text-align: center;
    font-weight: bolder;
    color: blue;
    font-size: 28px;     
    text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000,  
    1px 1px 0 #000;   
}

/* ### CALIDAD PRODUCTO ### */
.calidad{
    text-align: center;
}
.calidad img{
    width: 200px;
    height: 200px;
}

.calidad img:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.calidad img:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}



section{
    color: yellow;
    background-color: #851aab;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    margin-top: 25px;
}

section p{
    font-family: 'rubik glitch','segoe ui';
    font-size: 45px;
}

section div:first-child{
    margin-top: 20px;
}


section img{
    width: 300px;
    height: 320px;
    border-radius: 5px;
}

.personas{
    width: 1050px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2{
    margin-right: 30px;
    align-self: flex-end;
}

.div2 p{
    font-size: 15px;
}

/* ### BOTON FLOTANTE WHATSAPP ### */

.whatsapp{
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp img{
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

/* ### SECCION SUSCRIBETE ### */
.suscribete{
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suscribete2{
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suscribete2 label{
    font-weight: 600;
}

/* ### footer ### */

footer{
    width: 600px;
    font-size: 10px;
    padding-top: 8px;
}

footer a {
    color: black; 
    text-decoration: none; 
  }
.ul-flex{
    display: flex;
    justify-content: space-between;
}

.ul-flex li{
    list-style-type: none;
}

